body {
    padding: 10%;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400 !important;
}

p {
    margin: 0px;
    margin-right: 10px;
}

.btn {
    margin-left: 10px;
}

#fibo_text {
    margin-left: 10px;
}

.danger {color: #D9534F;}

.inputBorderColore {
   border:2px solid #D9534F;
   color: #D9534F;
}
#error-block-id  {
    text-align: center;
    margin-left: 132px;
    min-width: 173px;
    max-width: 200px;
}